@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<ul>
    @{
    @Html.ActionLink("New Movie","MovieForm","movies", new { @class = "btn btn-primary" })
        if (!Model.Any())
        {
            <p> Currently there are no movies.</p>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Genre</td>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var movie in Model)
                    {
                         <tr><td>@Html.ActionLink(movie.Name, "Edit", "movies", new { id = movie.Id }, null)</td>
                                <td>@movie.Genre.Name</td></tr>              
                    }
             
            </tbody>
            </table>

        }
    }
</ul>

